/* Thiết lập căn chỉnh và font chữ cho trang */
body,
html {
  margin: 0; /* Xóa khoảng trắng xung quanh */
  padding: 0; /* Xóa padding mặc định */
  font-family: Arial, sans-serif; /* Font chữ chính */
  height: 100%; /* Chiều cao 100% của trang */
  overflow: hidden; /* Ẩn thanh cuộn khi không cần thiết */
}

/* Thiết lập nền và vị trí của container chính */
.container {
  background-image: url("album/sci_group.png"); /* Hình nền */
  background-size: cover; /* Đảm bảo hình nền được fill hết */
  background-position: center; /* Chỉnh vị trí hình nền là giữa */
  height: 100%; /* Chiều cao 100% của container */
  overflow: hidden; /* Ẩn thanh cuộn khi không cần thiết */
  position: relative; /* Vị trí tương đối */
}

/* Overlay đen chia sẻ header và content */
.overlay {
  position: absolute; /* Vị trí tuyệt đối */
  top: 0; /* Đặt ở phía trên cùng */
  left: 0; /* Đặt ở bên trái */
  width: 100%; /* Chiều rộng 100% */
  height: 100%; /* Chiều cao 100% */
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền đen với độ trong suốt 50% */
}

/* Thiết lập header */
header {
  display: flex; /* Hiển thị theo kiểu flexbox */
  justify-content: space-between; /* Căn chỉnh các phần tử theo khoảng cách đều */
  align-items: center; /* Căn chỉnh các phần tử theo trục dọc */
  padding: 20px; /* Padding 20px */
  color: white; /* Màu chữ trắng */
  position: relative; /* Vị trí tương đối */
  z-index: 1; /* Độ sâu vượt lên trên cùng */
}

/* Thiết lập logo */
.logo img {
  height: 50px; /* Chiều cao của logo */
}

/* Thiết lập menu điều hướng */
nav a {
  color: white; /* Màu chữ trắng */
  text-decoration: none; /* Bỏ gạch chân */
  margin: 0 10px; /* Margin 0 10px */
}

/* Thiết lập nội dung chính */
.content {
  text-align: center; /* Căn chỉnh văn bản vào giữa */
  position: absolute; /* Vị trí tuyệt đối */
  top: 50%; /* Đặt ở giữa theo chiều cao */
  left: 50%; /* Đặt ở giữa theo chiều rộng */
  transform: translate(-50%, -50%); /* Dịch chuyển để căn giữa */
  z-index: 1; /* Độ sâu vượt lên trên cùng */
  color: white; /* Màu chữ trắng */
}

/* Thiết lập tiêu đề chúc mừng */
h1 {
  font-size: 72px; /* Cỡ chữ 72px */
  margin: 0; /* Xóa margin */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Đổ bóng văn bản */
}

/* Thiết lập phần hiển thị văn bản chữ */
.typing-text {
  display: inline-block; /* Hiển thị dạng block */
}

/* Thiết lập văn bản in hoa màu xanh dương */
.uppercase-blue {
  font-weight: bold; /* Chữ in đậm */
  color: rgb(0, 255, 89); /* Màu xanh dương */
  font-size: 36px; /* Cỡ chữ 36px */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Đổ bóng văn bản */
}

/* Hiệu ứng nhấp nháy cho văn bản */
.blink {
  animation: blink-animation 0.8s steps(5, start) infinite; /* Hiệu ứng nhấp nháy */
}

@keyframes blink-animation {
  to {
    visibility: hidden; /* Ẩn văn bản */
  }
}

/* Thiết lập bóng bay */
.balloon {
  position: absolute; /* Vị trí tuyệt đối */
  width: 250px; /* Chiều rộng 250px */
  height: 250px; /* Chiều cao 250px */
  animation: moveUp 10s linear infinite; /* Hiệu ứng di chuyển lên */
}

@keyframes moveUp {
  0% {
    transform: translateY(100vh) translateX(0); /* Bắt đầu từ dưới cùng */
  }
  100% {
    transform: translateY(-100vh) translateX(0); /* Kết thúc ở trên cùng */
  }
}

/* Thiết lập nút bắt đầu */
#start-button {
  display: block; /* Hiển thị dạng block */
  position: absolute; /* Vị trí tuyệt đối */
  top: 50%; /* Đặt ở giữa theo chiều cao */
  left: 50%; /* Đặt ở giữa theo chiều rộng */
  transform: translate(-50%, -50%); /* Dịch chuyển để căn giữa */
  padding: 20px; /* Padding 20px */
  font-size: 24px; /* Cỡ chữ 24px */
  cursor: pointer; /* Con trỏ là bàn tay */
  z-index: 2; /* Độ sâu vượt lên trên cùng */
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Nền màu trắng với độ trong suốt 70% */
  border: none; /* Không có viền */
  border-radius: 10px; /* Bo góc cho nút */
}
/* Thiết lập sidebar */
.sidebar {
  height: 100%; /* Chiều cao 100% */
  width: 0; /* Không hiển thị ban đầu */
  position: fixed; /* Vị trí cố định */
  z-index: 1; /* Độ sâu vượt lên trên cùng */
  top: 0; /* Đặt ở phía trên cùng */
  left: 0; /* Đặt ở bên trái */
  background-color: #24292e; /* Màu nền xám đậm */
  overflow-x: hidden; /* Ẩn phần dư ra ngang */
  transition: 0.5s; /* Hiệu ứng chuyển động 0.5s */
  padding-top: 60px; /* Padding top 60px */
}

/* Thiết lập kiểu cho các liên kết trong sidebar */
.sidebar a {
  padding: 8px 8px 8px 32px; /* Padding */
  text-decoration: none; /* Bỏ gạch chân */
  font-size: 18px; /* Cỡ chữ 18px */
  color: #818181; /* Màu chữ xám */
  display: block; /* Hiển thị dạng block */
  transition: 0.3s; /* Hiệu ứng chuyển động 0.3s */
}

/* Hiệu ứng màu chữ khi hover đối với các liên kết trong sidebar */
.sidebar a:hover {
  color: #f1f1f1; /* Đổi màu chữ khi hover */
}

/* Thiết lập nút đóng sidebar */
.sidebar .close-btn {
  position: absolute; /* Vị trí tuyệt đối */
  top: 0; /* Đặt ở phía trên cùng */
  right: 25px; /* Đặt ở bên phải 25px */
  font-size: 36px; /* Cỡ chữ 36px */
  margin-left: 50px; /* Margin left 50px */
}

/* Thiết lập kiểu cho tiêu đề trong sidebar */
.sidebar h3 {
  color: #818181; /* Màu chữ xám */
  padding-left: 32px; /* Padding left 32px */
}

/* Thiết lập footer */
footer {
  position: fixed; /* Vị trí cố định */
  left: 0; /* Đặt ở bên trái */
  bottom: 0; /* Đặt ở phía dưới cùng */
  width: 100%; /* Chiều rộng 100% */
  background-color: #333333; /* Màu nền xám đậm */
  color: white; /* Màu chữ trắng */
  text-align: center; /* Căn giữa nội dung văn bản */
  padding: 10px 0; /* Padding 10px trên và dưới */
}

/* Thiết lập kiểu cho đoạn văn bản trong footer */
footer p {
  margin: 0; /* Xóa margin */
  font-size: 14px; /* Cỡ chữ 14px */
}
